* {
margin: 0;
padding: 0;
}
  body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}
header {
  display: flex;
  height: 69px;
  border-bottom: 1px solid seashell;
  position: fixed;
  top: 0;
  align-items: center;
  padding-left: 10px;
  width: 98%;
  background-color: black
}
.logo {
  display: flex;
  flex-grow: 1;
  height: 50px;
}
.nav a {
  display: flex;
  display: inline-block;
  padding-right: 10px;
  color: seashell;
  text-decoration: underline;
}
.mission {
  display: flex;
  padding: 69px;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}
.mission-pic {
  background-image: url("../images/mission-background.jpg");
  width: 1200px;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}
 .mission-words {
   width: 100%;
   text-align: center;
   background-color: black;
 }
.menu {
height: 700px;
width: 1000px;
margin: auto;
  border: 1px solid white;
}
.menu-words {
  top: 0;
  text-align: center;
}
.teas {
  display: flex;
  width: 1000px;
  height: 500px;
  border: 1px solid blue;
}
.types {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.item img {
  height: 200px;
  Width: 300px;
  margin: 5px;
}
.item {
  padding: 5px;
}
.item span {
  display: block;
  text-align: center;
  padding: 5px;
}
.locations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-image: url("../images/locations-background.jpg");
  width: 1200px;
  height: 550px;
  border: 1px solid white;
}
.addresses {
  display: flex;
  flex-direction: inline-block;
}
.location-words {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  margin: 20px;
  justify-content:space-around;
  align-items: center;
  background-color: black;
}
.contact {
 display: flex;
 flex-direction: column;
 height: 200px;
 justify-content: center;
 align-items: center;
 justify-content: space-around;
}
.copyrght {
  display: flex;
  padding-left: 20px;
  text-align: left;
}
