body {
  font-family: "Helvetica" sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}
header {
  display: flex;
  height: 69px;
  border-bottom: 1px solid seashell;
  position: fixed;
  position: absolute;
  top: 0;
  align-items: center;
  width: 100%;
  color: seashell;
}
.logo {
  display: flex;
  flex-grow: 1;
  height: 50px;
  padding-left: 10px;
}
.nav a {
  display: flex;
  display: inline-block;
  padding-right: 20px;
  color: seashell;
  text-decoration: underline;
}
